.wrap {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 5rem;
}

.text {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 3rem;
	padding-left: 5rem;
	padding-right: 5rem;

}

#left_brow, #right_brow {
	  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}


/*#oof:hover {
  stroke: pink;
  stroke-dashoffset: 0;
  stroke-dasharray: 125;
}*/



#oof:hover #right_brow, #oof:hover #left_brow{
    transform:translate(0px,-2px);
}


/*
font-family: 'Raleway', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;*/