@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

nav.navbar-brand a:hover { color: #fff !important; }

.typewriter { 
	font: bold 3.2vw Consolas, Monaco, monospace;
	
	/*font-size: inherit;*/
	border-right: .1em solid black;
  letter-spacing: 0.3vw;
	/*width: 16.5em; */
	width: 34ch;
	margin: 1em 1em 1em 1em;
	white-space: nowrap;
	overflow: auto;
	-webkit-animation: typing 1s steps(23, end),
	           blink-caret .5s step-end infinite alternate;
}

.titlebox{
	 background: rgba(255, 255, 255, 0.2);
  width: 80%;
  padding: 5% 5%;
  /*padding: 1em 1em 1em 1em;*/
  margin: 10% 10%;
/*position:absolute; 
top:50%; 
height:10em;
 margin-top:-5em */

 
}

.main-wrapper {
  height: 100vh;  
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.row-height{
	height:6%;

}

.row-body-height{
	height: 47%
}

.container{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	 height:100%;
	 width: 50%;
}

.container-bunny{
		 background: url("images/bunny.png") no-repeat center;
		 background-size: cover;
}

.container-music{
		 background: url("images/music.png") no-repeat center;
		 background-size: cover;
}

.container-cubes{
		 background: url("images/cubes.png") no-repeat center;
		 background-size: cover;
}

.container-sleep{
		 background: url("images/sleep.png") no-repeat center;
		 background-size: cover;
}

.container:hover .overlay {
  opacity: 0.75;

}

.text {
  color: white;
  font-size: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  white-space: nowrap;
}

.image-fill{
	width:50%;
	height:100%;
	float:left;
	
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here 
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.vertical-center {

  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;

}

/*.text-center {
	font-size: 40px;
	text-align: center;

}*/

.vertical-center-heading {

  min-height: 100%; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;

}

@media (max-width: 760px) { 

.main-wrapper{
  height:100%;
}

.container{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   height:50vw;
   width: 50%;
}


 }









