/* Basic styling */
.filled-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 0.9;
}

.description{
  font-family: 'Raleway', sans-serif;
  font-size: 23px;
}

.phone-img {
      width: 415px;
    opacity: 0.2;
    z-index: -1;
}

.overlay-img {
      position: absolute;
    top: 4%;
    right: 3%;
    z-index: -1;
}

.icon-img {
  width: 150px;
}

html,body {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}


.red {fill:#D32027; }
.orange { fill:#FF8C42 }
.yellow { fill:#FFF275}

video {
  width: 100%;
  height: auto;
  max-height: 480px;
  max-width: 858px;
}

/* Animate the background shapes */
/*#background path {
    animation: pulse 4s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite;*/
    
    /* Necessary to keep the SVG objects in place while scaling */
/*    transform-origin: 50% 50%;
    transform-box: fill-box;
}*/

/* Reveal the desired lines of text in the desired order */
/*#textClip text:nth-of-type(n + 1) {
    animation: showFirst 12s infinite;
}
#textClip text:nth-of-type(n + 2) {
    animation: showSecond 12s infinite;
}
#textClip text:nth-of-type(n + 3) {
    animation: showThird 12s infinite;
}*/
/*
@keyframes pulse {*/
    /* Rotating it along with the scale makes it a little bit more fancy */
/*    0%, 100% { transform: scale(0) rotate(33deg); }
    35%, 65% { transform: scale(1) rotate(0deg); }
}
@keyframes showFirst {
    0%, 33% {
        opacity: 1;
    }
    33.0001%, 100% { opacity: 0; }
}
@keyframes showSecond {
    33.0001%, 66% {
        opacity: 1;
    }
    0%, 33%, 66.0001%, 100% { opacity: 0; }
}
@keyframes showThird {
    66.0001%, 99.999% {
        opacity: 1;
    }
    0%, 66%, 100% { opacity: 0; }
}

*/




svg {
    width: 100%;
}
/*.filled-heading {
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 5em;
    line-height: 0.9;
}*/

#background path {
    animation: pulse 4s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite;
    transform-origin: 50% 50%;
    transform-box: fill-box;
}
#textClip text {
    display: none;
}
/* #textClip text:nth-of-type(n + 1):nth-of-type(-n + 3) {
    display: inline;
} */

@keyframes pulse {
    0%, 100% { transform: scale(0) rotate(33deg); }
    35%, 65% { transform: scale(1) rotate(0deg); }
}


















body{
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
}

.main-container{
  height: 100vh;
  /*width: 100vw;*/
}
.center {
  display: flex;
  justify-content: center;
  align-items: center; 
} 

.wrap {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.text {
  /*display: block;*/
  margin-left: auto;
  margin-right: auto;
  
  /*font-size: 3rem;*/
  font-size: 50px;

/*  padding-left: 5rem;
  padding-right: 5rem;*/
}


.link {
   /*font-size: 20px;*/
   font-size: 30px;
}

.center-text {
  text-align: center;
} 



#left_brow, #right_brow {
    -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

#oof:hover #right_brow, #oof:hover #left_brow{
    transform:translate(0px,-2px);
}

.fa {
        -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.fa-button {
  padding: 10px;
  font-size: 20px;
  width: 40px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;

  background-color: #000;
  color: white;



}

.fa:hover {
    opacity: 0.7;

  -webkit-transform: scale(1.1);
  transform: scale(1.1);

}


.social-media a {
  text-decoration: none;
  color: white;

}

.link > a{
    color: #D32027;
  text-decoration: none;
  position: relative;
}

.link > a:hover{
    color: #D32027;
}


.link > a:after{
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: -5px;
  left: 0;
  background-color: #D32027;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  transform-origin: 0 50%;

}

.link > a:hover:after{
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


.project-card:after {
  content: "";
  position: absolute;
  top: 0;  left: 0;  right: 0;  bottom: 0;
  background: #2098d1;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform .3s ease-out;
  margin:30px 0px;
}



@keyframes blink {
/*  0% { height: 20px; }*/
/*  3% { transform: scaleY(0.5) translate(0px, 40px)}*/

19% { transform: translate(0px) scaleY(1)}
  20% { transform: translate(0px, 39px) scaleY(0.05)}
  21% { transform: translate(0px) scaleY(1)}
  70% { transform: translate(0px) scaleY(1)}
  71% { transform: translate(0px, 39px) scaleY(0.05)}
  72% { transform: translate(0px) scaleY(1)}
  74% { transform: translate(0px) scaleY(1)}
  75% { transform: translate(0px, 39px) scaleY(0.05)}
  76% { transform: translate(0px) scaleY(1)}
}

.blink {
/*  transform: scaleY(0.2) translate(0px, 160px);*/

  animation: blink 8s infinite;
  -webkit-animation: blink 7s infinite;

 
}

/*
.project-card {
  padding: 50px;
  background-color: green;
  transition: transform ease .75s;
  width: 50px;
  height: 50px;
  margin: 5px auto;
}*/

.project-card:hover {
/*  -ms-transform: scale(1.1); 
  -webkit-transform: scale(1.1);
  transform: scale(1.1); */
}


.project-card:after {
  content: "";
  position: absolute;
  z-index:-1;
  top: 0;  left: 0;  right: 0;  bottom: 0;
 background:#D32027;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform .3s ease-out;
  margin:30px -15px;
  z-index: 0;
}

.project-card:hover:after{transform: scaleX(1);}



.project-card{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   height:20vh;
   width: 100%;
   background-clip:content-box;
     margin:15px 0px;
     transition: transform ease .75s;
     position: relative;
}


.overlay-work {
  height: 100%;
  /*opacity: 0.5;*/
  transition: .5s ease;
  background-color: black;
  /*z-index: 10;*/
}


.project-card-text {
  color: white;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
    z-index: 10;
  white-space: nowrap;
}



.home {
  /*background-color : #31B0D5;*/
  /*color: black;*/
  /*padding: 10px 20px;*/
  /*border-radius: 0px 0px 100px 100px;*/
  /*background-image: url("home-icon.png");*/
    position: fixed;
  top: 25px;
  left: 25px;
  height: 50px;
  font-size: 30px;
  color: black;
  /*background-size: cover;*/
  /*border-color: #46b8da;*/
}

.home:hover {
  color: black
}



@media (max-width:704px) {

  /* your conditional / responsive CSS inside this condition */
.text {

  font-size: 25px;
    padding-left: 0rem;
  padding-right: 0rem;

}

.link {
   /*font-size: 20px;*/
   font-size: 20px;
}

.project-card {
   margin:5px 0px;
}

.project-card-text {
  font-size: 20px;
}

.description {
  font-size: 18px;
}

.overlay-img {
    right: -50%;
}

.phone-img {
      width: 320px;
}


}

